@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: red;
  background-color: #282424;
}
nav {
  display: flex;
  color: red;
  position: sticky;
  top: 0;

  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  background: rgba(235, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(235, 0, 0, 0.3);
  justify-content: space-between;
}
.container {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  list-style: none;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
nav h1 {
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}
.links ul li {
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
}
.hero-images img {
  max-width: 300px;
}
.hero-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 40px;
}
em {
  text-decoration: underline;
  font-weight: 700;
  font-size: 60px;
}
.footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 30px;
  background: rgba(235, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(235, 0, 0, 0.3);
}
.about-img img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  max-width: 200px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
  line-height: 2;
}
.about h1,
.about h2,
.about h3 {
  font-size: 54px;
}
#pass {
  width: 200px;
  height: 50px;
  font-size: 32px;
  padding-left: 20px;
  color: #282424;
  border: none;
  outline: transparent;
  border-radius: 20px 0 0 20px;
}
.button {
  height: 50px;
  width: 80px;
  border-radius: 0 20px 20px 0;
  outline: transparent;
  border: none;
  color: white;
  font-size: 14px;
  background-color: red;
  cursor: pointer;
}
.check-password {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pw-success {
  color: green;
}
